**/node_modules
**/.turbo
**/.next
**/.nuxt
**/.output
**/dist
**/coverage
**/.cache
.git
.gitignore
.idea
.vscode
.fleet
.DS_Store
**/.env
**/.env.*
!**/.env.example
**/*.log
README.md
**/Dockerfile
docker-compose*.yml
