STACK_NAME=spacedb
IMAGE_NAME=spacedb
IMAGE_TAG=latest

# API
API_PORT=3000
API_HOST=0.0.0.0

# API / Database
API_DATABASE_HOST=localhost
API_DATABASE_PORT=5432
API_DATABASE_USERNAME=spacedb
API_DATABASE_PASSWORD=changeme
API_DATABASE_NAME=spacedb

# API / Minio
API_MINIO_ENDPOINT=localhost
API_MINIO_PORT=9000
API_MINIO_CONSOLE_PORT=9001
API_MINIO_USE_SSL=false
API_MINIO_ACCESS_KEY=spacedb
API_MINIO_SECRET_KEY=changeme123
API_MINIO_BUCKET=spacedb

# WEB
WEB_PORT=3001
WEB_HOST=0.0.0.0
WEB_API_BASE=http://localhost:3000

# TRAEFIK
TRAEFIK_NETWORK=traefik
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
API_DOMAIN=api.spacedb.local
WEB_DOMAIN=spacedb.local
MINIO_CONSOLE_DOMAIN=minio.spacedb.local
