# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
out
.cache

# Turbo
.turbo

# Tests
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env
.env
.env.*
!.env.example

# Runtime
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Temp
.temp
.tmp

# OS
.DS_Store
*.pem

# Editors
.idea
.fleet
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
apps/api/tsconfig.tsbuildinfo
apps/api/tsconfig.build.tsbuildinfo
